rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Update rules as needed
      allow read, write: if false;
    }
  }
}
