<div class="container py-5">
  <h1>אודות האתר לדוגמה</h1>
  <p>האתר לדוגמה הזה נבנה בשביל להיות............ דוגמה</p>
  <img src="/img/demo_image.jpg" class="rounded img-fluid" style="max-width: 600px;">

</div>