<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World Web App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1 id="message">Hello</h1>

  <input id="textField" type="text" placeholder="Type your name">
  <button id="helloBtn">Say Hello</button>

  <br><br>

  <button id="incrementBtn"><%= counter %></button>

  <script src="/script.js"></script>
</body>
</html>
